<div th:fragment="header">
  <div class="d-flex flex-colum flex-md-row align-items-center p-3 px-md-20 md-3 bg-dark border-bottom shadow-sm">
    <h3 class="my-0 mr-md-0 p-2 text-white font-weight-normal" th:text="#{home.job}"></h3>
    <nav class="my-2 my-md-0 mr-md-3">
      <a class="p-2 text-white" href="/" th:text="#{home.headera}"></a>
      <a class="p-2 text-white" href="/blog" th:text="#{home.headerb}"></a>
      <a class="p-2 text-white" href="/blog/add" th:text="#{home.headerc}"></a>
      <a class="p-2 text-white" href="/abaut" th:text="#{home.headerd}"></a>

    </nav>
  </div>

</div>